{
  "meta": {
    "lastTouchedVersion": "2026.3.24",
    "description": "TEMPLATE: Replace token values with env vars or your actual tokens from Slack app settings"
  },
  "logging": {
    "level": "info"
  },
  "wizard": {
    "lastRunAt": "2026-03-27T04:58:58.562Z",
    "lastRunVersion": "2026.3.24",
    "lastRunCommand": "onboard",
    "lastRunMode": "local"
  },
  "auth": {
    "profiles": {
      "openai-codex:default": {
        "provider": "openai-codex",
        "mode": "oauth"
      }
    }
  },
  "agents": {
    "defaults": {
      "model": {
        "primary": "openai-codex/gpt-5.4"
      },
      "models": {
        "openai-codex/gpt-5.4": {}
      },
      "workspace": "/root/.openclaw/workspace"
    }
  },
  "tools": {
    "profile": "minimal",
    "web": {
      "search": {
        "enabled": true,
        "provider": "gemini"
      }
    }
  },
  "commands": {
    "native": "auto",
    "nativeSkills": "auto",
    "restart": true,
    "ownerDisplay": "raw"
  },
  "session": {
    "dmScope": "per-channel-peer"
  },
  "hooks": {
    "internal": {
      "enabled": true,
      "entries": {
        "boot-md": {
          "enabled": true
        }
      }
    }
  },
  "channels": {
    "slack": {
      "mode": "socket",
      "webhookPath": "/slack/events",
      "enabled": true,
      "botToken": "REPLACE_WITH_SLACK_BOT_TOKEN_xoxb",
      "appToken": "REPLACE_WITH_SLACK_APP_TOKEN_xapp",
      "userTokenReadOnly": true,
      "groupPolicy": "allowlist",
      "nativeStreaming": true,
      "streaming": "partial"
    }
  },
  "gateway": {
    "port": 18789,
    "mode": "local",
    "bind": "loopback",
    "auth": {
      "mode": "token",
      "token": "REPLACE_WITH_GATEWAY_AUTH_TOKEN"
    },
    "tailscale": {
      "mode": "off",
      "resetOnExit": false
    },
    "nodes": {
      "denyCommands": [
        "camera.snap",
        "camera.clip",
        "screen.record",
        "contacts.add",
        "calendar.add",
        "reminders.add",
        "sms.send",
        "shell.exec",
        "fs.delete",
        "fs.rmdir",
        "fs.write",
        "process.kill",
        "network.raw"
      ]
    }
  },
  "skills": {
    "install": {
      "nodeManager": "npm"
    }
  },
  "plugins": {
    "entries": {
      "google": {
        "enabled": true,
        "config": {
          "webSearch": {
            "apiKey": "REPLACE_WITH_GOOGLE_API_KEY"
          }
        }
      }
    }
  }
}
